* {
    font-family: "Poppins", sans-serif;

    /*Colors*/
    --turquesa: #16425B;
    --lightTurquesa: #2F6690;
    --lightBlue: #3A7CA5;
    --mint: #81C3D7;
    --slate: #D9DCD6;
}

header {
    background-color: var(--turquesa);
}

header span {
    /*color: #DDDBF1;*/
    color: white;
    font-weight: 500;
}

.nav-item a {
    color: var(--slate);
}

.nav-item a:visited {
    color: var(--slate);
}

.nav-item a:hover {
    color: white;
}

#nav-button {
    background-color: var(--mint);
    color: white;
    font-weight: 400;
}

.info {
    text-align: justify;
    margin: auto;
}

.info h1 {
    color: var(--turquesa);
}

#app {
    color: var(--lightBlue);
}

.info button, #contacto button {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-color: rgb(234, 245, 255);
    color: var(--turquesa);
}

.info button:hover, #contacto button:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--mint);
    border: var(--lightTurquesa);
    color: white;
}

.img-profile {
    margin: auto 60px ;
}

.img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#habilidades, #proyectos, #testimonios {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#habilidades h2, #testimonios h2 {
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#proyectos h2 {
    font-size: 40px;
    font-weight: 500;
    color: var(--turquesa);
    text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#habilidades, #testimonios {
    background-color: var(--lightBlue);
}

.title-contact {
    font-size: 40px;
    font-weight: 500;
    color: var(--turquesa);
    text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item {
    border-radius: 10px;
    background-color: white;
    text-align: justify;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item h3 {
    color: var(--turquesa);
}

.text {
    font-size: 15px;
}

.bi {
    color: #3C4F76;
    width: auto;
    height: auto;
    border-radius: auto;
    font-size: 1.5em;
}

.card-img-top {
    width: 220px; /* Ajusta este valor según el tamaño que desees */
    height: 220px; /* Ajusta este valor según el tamaño que desees */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    border-radius: 50%; /* Hace que la imagen sea circular */
    justify-content: center;
}

.card {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-testimonio {
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    text-align: justify;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-title{
    color: var(--turquesa);
    font-weight: 600;
    margin-top: 10px;
}

.card-header {
    margin: 5px;
    padding: 3px;
    color: var(--turquesa);
    border-radius: 5px;
    background-color: #81c3d74d;
}

.card-text {
    margin: 1rem 0;
    text-align: justify;
}

.icon-habilidades {
    color: var(--lightTurquesa);
}

.icon-mail {
    font-size: 60px;
    color: var(--lightBlue);
}

.icon-footer {
    font-size: 27px;
    color: white;
}

footer {
    background-color: var(--turquesa);
    color: white;
}

footer a {
    color: var(--mint);
}